/* You can add global styles to this file, and also import other style files */
* {
    font-family:-apple-system, BlinkMacSystemFont,  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* input[type=text], input[type=email] {
    height: 35px;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    outline: none;
    margin: 5px 10px;
    font-size: 18px;
    color: gray;
    border: 3px solid transparent;
    transition: 0.2s ease;
}
input[type=text]:focus, input[type=email]:focus {
    border: 3px solid teal;
    transition: 0.2s ease;
} */

/* input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 3px;
    background-color: #EEE;
    border: none;
    outline: none;
} */
select {
    margin: 10px;
}

label {
    padding: 10px 0;
    /* font-size: 20px; */
    /* font-weight: 600; */
    margin-left: 10px;
}

fieldset {
    border: none;
    padding: 0 10px;
    margin: 0;
}

input[type=radio] {
    margin-left: 10px;
}

button {
    background-color: teal;
    padding: 8px 16px;
    height: 40px;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 20px 10px;
}

button:disabled {
    filter: brightness(1.0) saturate(0.6);
    cursor: not-allowed;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding: 30px; }

mat-label {
    padding-bottom: 10px;
}
