
    
    <mat-label>{{question.label}} <span *ngIf="question.required" style="color: red;">*</span></mat-label>
  
    <div [ngSwitch]="question.controlType">
  
      <mat-form-field appearance="fill" *ngSwitchCase="'textbox'">
        <input matInput [formControlName]="question.key" [value]="question.value"
                [id]="question.key" type="text">
      </mat-form-field>

      <mat-form-field appearance="fill"  *ngSwitchCase="'dropdown'" >
        <mat-select  [formControlName]="question.key">
          <mat-option *ngFor="let opt of question.options" [value]="opt.key">
            {{opt.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field [formGroup]="form" appearance="fill"> -->
      <fieldset [id]="question.key" *ngSwitchCase="'checkbox'" [formControlName]="question.key">
        <div *ngFor="let opt of question.options">
          <mat-checkbox  type="checkbox" [value]="opt.key" (change)="checkBoxChange($event, opt)" [id]="'checkbox' + opt.key"></mat-checkbox>
          {{opt.value}}
        </div>
        
                  
        
      </fieldset>
                
  
    </div>