@import '../../components/task-view/task-view.component.scss';
@import '../../../styles.scss';

.half {
    width: 50%;
    padding: 34px;
    display: flex;
    flex-direction: column;
}

.login-left {
    background: $light;
}