<div class="centered-content">
    <div class="task-container">
        <div class="sidebar">

            <h1 class="mat-display-1 title-caps primary">Lists</h1>

            <div class="list-menu">
                <a href="/" class="list-menu-item is-active">
                    <p>List#1</p>
                </a>
                <a href="/" class="list-menu-item">
                    <p>List#2</p>
                </a>
                <a href="/" class="list-menu-item">
                    <p>List#3</p>
                </a>
            </div>

            <button class="primary-button">+ New Task</button>
        </div>

        <div class="tasks-list">
            <h1 class="mat-display-1 title-caps primary">Tasks to complete</h1>

            <div class="task">
                <p>Feed the cat</p>
            </div>
            <div class="task complete">
                <p>Go for a haircut</p>
            </div>
            <div class="task">
                <p>Complete project report</p>
            </div>

            <div class="fab">
                +
            </div>
            
        </div>
    </div>
</div>