<div class="centered-content">
    <div class="task-container">
        <div class="sidebar">

            <h1 class="mat-display-1 title-caps primary">Lists</h1>

            <div class="list-menu">
                <a [routerLink]="['/lists', list._id]" class="list-menu-item" *ngFor="let list of lists" routerLinkActive="is-active">
                    <p>{{list.title}}</p>
                </a>
            </div>

            <button class="primary-button" (click)="openDialog('list')">+ New List</button>
        </div>

        <div class="tasks-list">
            <h1 class="mat-display-1 title-caps primary">Tasks to complete</h1>

            
            <div class="task complete">
                <p>Go for a haircut</p>
            </div>
            <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)">
                <p>{{task.title}}</p>
            </div>

            <div class="fab" (click)="openDialog('task')">
                <img src="../../../assets/plus-icon.svg" alt="plus">
            </div>
            
        </div>
    </div>
</div>
